{% extends "base.html" %}
{% load static %}
{% block head %}
<style>
    h1{
        font-family: cursive;color:red;
    }
</style>
{% endblock %}
{% block myblock %}
    <h1>HELLO THERE</h1>
    <div class="row">
        <div class="col-md-4 p-4 text-center">
            <div style="box-shadow:0px 0px 10px black;" class="p-5">
                <img src="{% static 'images/1.jpg'%}" alt="">
                <small>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem similique veniam, consequuntur excepturi adipisci harum porro totam accusamus modi, odio quasi consectetur mollitia aliquam perspiciatis incidunt. Odio cumque blanditiis doloribus!</small>
            </div>
        </div>
        <div class="col-md-4 p-4 text-center">
            <div style="box-shadow:0px 0px 10px black;" class="p-5">
                <img src="{% static 'images/1.jpg'%}" alt="">
                <small>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem similique veniam, consequuntur excepturi adipisci harum porro totam accusamus modi, odio quasi consectetur mollitia aliquam perspiciatis incidunt. Odio cumque blanditiis doloribus!</small>
            </div>
        </div>
        <div class="col-md-4 p-4 text-center">
            <div style="box-shadow:0px 0px 10px black;" class="p-5">
                <img src="{% static 'images/1.jpg'%}" alt="">
                <small>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem similique veniam, consequuntur excepturi adipisci harum porro totam accusamus modi, odio quasi consectetur mollitia aliquam perspiciatis incidunt. Odio cumque blanditiis doloribus!</small>
            </div>
        </div>
    </div>
{% endblock %}